[2015-02-09 11:54] nunofgs opened #1 "Submit to Package Control"
Looks great. How about submitting this to Package Control? :)

[2015-02-09 12:28] voronianski commented on #1
@nunofgs thanks! I will do it today :soon:

[2015-02-09 12:57] nunofgs opened #2 "Suggest good companion themes in README"
I was using Spacegray but I find that the background color isn't a good fit with Oceanic Next:

![screen shot 2015-02-09 at 12 51 29](https://cloud.githubusercontent.com/assets/92085/6106614/ccc8dde6-b05a-11e4-8570-70cd04d685fc.png)

Out of curiosity, what Sublime theme are you using?

Also, could this be something that other people find interesting? maybe add a small list to the README of good-lo

[2015-02-09 13:10] voronianski commented on #2
@nunofgs I'm using it with [El Capitan Sublime Theme](https://github.com/iccir/El-Capitan-Theme).

As for me I'm not aware of Sublime Themes, I've used Spacegray for a long time but recently I found myself that contrast with more classy Mac OS X white feel is just great :smile:

![](https://dl.dropboxusercontent.com/u/100463011/el-capitan-with-oceanic-next.png)

I can just suggest to google smth s

[2015-02-13 01:16] jrodl3r opened #3 "Port to Atom.io Editor?"
Would love to see this in Atom Editor... There is am "Oceanic" theme, but it doesn't seem to be the same as this.

Nice work! :beers:

[2015-02-13 01:35] tinchoz49 commented on #1
niceee theme!!! yess please, submit to Package Control!

[2015-02-13 03:18] mdaverde commented on #1
+1

[2015-02-13 11:20] voronianski commented on #1
@nunofgs @tinchoz49 @milanlandaverde

It's now available on [Package Control](https://packagecontrol.io/packages/Oceanic%20Next%20Color%20Scheme).

[2015-02-13 11:20] #1 closed

[2015-02-13 15:09] voronianski commented on #3
@jrodl3r actually it's already ported to Atom, check - https://atom.io/themes/oceanic-next and let me know if it's wrong :)

[2015-02-13 15:09] #3 closed

[2015-02-13 17:08] mertkahyaoglu commented on #2
I agree :+1: and which font are you using ?

[2015-02-18 09:33] venil7 opened #4 "provide user preferences string for installation"
please provide user preferences string, so that people can copy and paste it into their preferences, after install

eg. `"color_scheme": "Packages/Oceanic Next Color Scheme/Oceanic Next.tmTheme",`

[2015-02-18 09:38] voronianski commented on #4
@venil7 please use Package Control to install.

[2015-02-18 09:38] voronianski commented on #4
@venil7

[2015-02-18 10:22] venil7 commented on #4
using Package Control doesn't automatically change the scheme for a user, at least it didn't for me, they still need to activate it in their preferences, and copying this line - is the quickest way of doing that...

[2015-02-18 10:22] venil7 commented on #4
i meant, if you add this to README, it would save some time for people installing it

[2015-02-18 10:28] voronianski commented on #4
@venil7 this line depends on user preferences and packages, the quickest way is to use Sublime's menu.

[2015-02-18 10:28] #4 closed

[2015-02-21 20:30] jenbennings commented on #2
I am currently using the same setup as @nunofgs — it bothered me enough to modify the colours of the Spacegray theme. I'm going to try and implement them later today. Here's a before/after preview:

![](http://cl.ly/image/2M3R392L130K/Screen%20Shot%202015-02-21%20at%2012.22.41%20PM.png)

Not a huge change—but it's the little things, right?

[2015-02-21 21:24] voronianski commented on #2
@mertkahyaoglu http://www.levien.com/type/myfonts/inconsolata.html

[2015-02-22 23:29] jenbennings commented on #2
Spent half an hour or on it yesterday:

![](http://cl.ly/image/12230b2e0Z12/Screen%20Shot%202015-02-22%20at%203.24.22%20PM.png)

I've also changed the unsaved & close icon tints to match the same red/yellow :sunglasses: — if anyone wants it I can gist the theme file.

[2015-02-23 21:28] voronianski commented on #2
@jenbennings hey, this looks pretty, share the theme file please :+1:

[2015-02-23 21:40] nunofgs commented on #2
Yup, looks awesome. Share that thing asap! :+1:

[2015-02-23 21:46] jenbennings commented on #2
https://gist.github.com/jenbennings/01022cb691c928f5338a
https://gist.github.com/jenbennings/f4b5e732436810d460ff

[2015-03-02 12:54] tomatau opened #5 "Support styling of static property methods and generator asterix"
Babel sublime has recently updated to support static methods in classes (and hopefully properties for ES7 playground features?)

Would be nice if Oceanic also supported these as it seems to not do just yet.

babel/babel-sublime#52

[2015-03-02 13:03] voronianski commented on #5
@tomatau thanks, I will take a look on that.

[2015-03-10 16:12] NovaDev94 opened #6 "Support search results highlighting"
Currently, there's no highlights for the filepath and the result line number:
![screen shot 2015-03-10 at 11 10 40 pm](https://cloud.githubusercontent.com/assets/6073918/6579108/b63c9036-c77a-11e4-9b6e-18df7be01578.png)

How about making it like the default `Monokai` color scheme?
![screen shot 2015-03-10 at 11 11 32 pm](https://cloud.githubusercontent.com/assets/6073918/6579133/d9d46ec4-c77a-11e4

[2015-03-10 16:14] NovaDev94 opened #7 "Quotes and Strings have different colors"
As you can see in this image, the quotes and the strings have different colors:
![screen shot 2015-03-10 at 11 13 19 pm](https://cloud.githubusercontent.com/assets/6073918/6579177/20259d6c-c77b-11e4-97d9-6f25f8fa8fcd.png)

Is this intended or a miscolor?

[2015-03-10 16:18] voronianski commented on #7
@NovaDev94 it's by design :)

[2015-03-10 16:18] #7 closed

[2015-03-10 16:19] voronianski commented on #6
@NovaDev94 probably I'll take a look on that.

[2015-03-10 16:21] novadev94 commented on #5
@tomatau @voronianski Seems like we already have it

![screen shot 2015-03-10 at 11 18 50 pm](https://cloud.githubusercontent.com/assets/6073918/6579321/2d08b4fa-c77c-11e4-90d6-21acae1975f4.png)

[2015-03-10 16:26] #5 closed

[2015-03-10 17:00] tomatau commented on #5
This wasn't the case when I posted the issue.

Nice - would be dandy if you could also supported the playground features:
memo methods
static class properties (not methods)

[2015-03-12 10:09] gaearon commented on #2
:+1:

[2015-03-12 10:11] WickyNilliams commented on #2
I was just about to raise an issue about adding a theme, and planned to look at it tonight. Awesome that @jenbennings beat me to it!

What are the chances of getting this added to the repo as the official compliment to the colour scheme?

[2015-03-12 14:15] voronianski commented on #2
@WickyNilliams maybe just a line in README? :smile:

[2015-03-12 16:47] WickyNilliams commented on #2
@voronianski but why not include in an official capacity? It would be opt-in (you have to go into your sublime settings and explicitly change the theme), so users who just want the colour theme get only that.

It works beautifully. And it would be good to have something that's not floating about in a gist somewhere, that can be improved/fixed over time.

[2015-03-12 16:54] gaearon commented on #2
+1 to @WickyNilliams

[2015-03-12 16:59] voronianski commented on #2
@WickyNilliams @gaearon alright you win! so you just want me to include those files by @jenbennings ?

[2015-03-12 17:08] WickyNilliams commented on #2
The power of peer pressure :smile:

The sublime-theme file can just be added to root of repo, along with instructions in README on how to set it (see how [spacegray theme describes the process](https://github.com/kkga/spacegray#how-to-activate)). It boils down to adding the following lines to your user settings:

[code]

As for the `Widget - Spacegray.stTheme` file, i'm not entirely sure what you'

[2015-03-14 22:43] jenbennings commented on #2
@WickyNilliams From memory, I only modified the widget file to change the color of the search prompt (this isn't set as part of the .stTheme).

Perhaps I should set it up as a fork of spacegray so it can be installed as part of package control. It would be a good process to figure out how Sublime Text themes actually work, however it won't be a quick process! For now I was happy with modifying spa

[2015-03-19 03:27] sebastienbarre commented on #2
Nice job @jenbennings! I installed `Spacegray Ocean.sublime-theme` and it works beautifully, although you need to install the [spacegray](https://github.com/kkga/spacegray) theme first, since your theme makes explicit references to its bitmaps (say, `"layer0.texture": "Theme - Spacegray/Spacegray/close.png"`). A fork of `spacegray` would be great!

[2015-03-22 21:57] jrodl3r opened #8 "iTerm2 Port"
Would love this theme in iTerm :+1:

[2015-03-23 03:59] felipekm opened #9 "Plans to support atom?"

[2015-03-23 07:08] voronianski commented on #9
@felipekm https://atom.io/themes/oceanic-next

[2015-03-23 07:08] #9 closed

[2015-03-28 13:51] adamalbrecht opened #10 "Vim Port?"
Really fantastic theme. Would love to see a Vim port if someone is up to it.

[2015-03-31 18:50] bjankord commented on #2
I've been using the Spacegray Eighties theme:
`"theme": "Spacegray Eighties.sublime-theme"`

![sublime](https://cloud.githubusercontent.com/assets/633148/6926533/7ae1edd2-d7ac-11e4-9605-9d3533797084.png)

The theme @jenbennings came up with looks awesome, going to try it out now.

[2015-04-08 07:57] voronianski commented on #2
@jenbennings hey, so did you manage to make a fork of `Spacegray` ➫ `Spacegray Ocean`? If no, probably I can do it, just clearifying :smile:

[2015-04-08 14:13] jeffpamer commented on #10
I'll add my support in for this idea, I'd love to see a vim port.

[2015-04-08 14:17] yosiat commented on #10
Hi,
I created a port (using coloration and Vim-toCterm) - https://github.com/yosiat/oceanic-next-vim

[2015-04-08 14:38] voronianski commented on #10
@yosiat kudos! :+1: :fireworks:

[2015-04-08 14:48] #10 closed

[2015-04-08 17:32] jenbennings commented on #2
@voronianski Sorry, haven't had a chance to do it yet! Feel free to use my files if you'd like to do it yourself.

[2015-04-08 17:37] WickyNilliams commented on #2
Personally, I think it would be nice to have Spacegrey forked/merged into this repo along with @jenbennings' changes, rather than a new repo. As a user, it would be far more convenient to have a single package.

[2015-04-08 17:38] WickyNilliams commented on #2
Also worth noting I've been using them together, as described above, for quite some time, with zero issues

[2015-04-13 00:24] zertosh opened #11 "es7-decorators"
I think you should color these with something special :stuck_out_tongue: See https://github.com/babel/babel-sublime/pull/95

cc: @voronianski

[2015-04-13 11:44] voronianski commented on #11
@zertosh good point)

[2015-04-20 14:44] emadb commented on #2
I tried to create a better theme for oceanic next. I started from Seti_UI.

The result is this:
![screenshot 2015-04-20 16 40 34](https://cloud.githubusercontent.com/assets/276876/7232518/5797edf6-e77c-11e4-8bc1-d7e74a3e64ba.png)

And the config file is here: https://gist.github.com/emadb/2f4b3137f0345248a8a2

It's not finished and it should be packaged in a real UI theme. Feel free to go on  from

[2015-04-22 18:49] joeybaker opened #12 "Incorrect highlight with quotes in JSX"
![](https://cloudup.com/cELwXYzG2MP+)

Adding a quote highlights the line like a string, but in JSX this is not intended behavior.

[2015-05-28 20:31] bjankord commented on #6
+1, I find myself missing this highlighting from Monokai

[2015-06-05 23:52] mhartington commented on #8
Would love to help out with this. Base16 has a nice builder to let you generate themes for many different editors and terminal shells.

https://github.com/chriskempson/base16-builder

All you would need is a yml file defining the colors like this
https://github.com/chriskempson/base16-builder/blob/master/schemes/ocean.yml

Again, feel free to reach out, would love to help with this.

[2015-06-06 19:46] mhartington opened #14 "Color pallet"
Similar to http://chriskempson.github.io/base16/#ocean

![](https://camo.githubusercontent.com/e265d55a7795c2f3c504842cc7b4e5e67e4db64f/68747470733a2f2f7261772e6769746875622e636f6d2f63687269736b656d70736f6e2f6261736531362f6d61737465722f6261736531362d64656661756c742e706e67)

I would be useful for generating new themes to have a set list of colors that we can work with.

[2015-06-07 23:02] mhartington commented on #14
went a head and threw one together
![base16-oceanic-next](https://cloud.githubusercontent.com/assets/2835826/8026507/02a7247e-0d47-11e5-8d9f-2781dcfb9223.png)

If you have any feed back on any of the color or find that some are a little off (used photoshop and the color picker) feel free to let me know what should be changed.

base00: "1a2b34"
base01: "343d46"
base02: "4f5b66"
base03: "65737e"
bas

[2015-06-08 08:49] voronianski commented on #14
@mhartington thanks! I've updated your list a bit and added to README - https://github.com/voronianski/oceanic-next-theme#color-palette

[2015-06-08 08:49] #14 closed

[2015-06-08 13:15] mhartington commented on #14
Sweet, I think with this, now I could work on the iterm 2 theme :smile:

[2015-06-08 13:53] mhartington commented on #8
Went ahead this weekend and made the iterm2 version, with a light and dark version.
https://github.com/mhartington/oceanic-next-iterm

[2015-06-08 14:07] voronianski commented on #8
@mhartington awesome :+1: it will be useful to have screenshots in your README as well.

[2015-06-08 15:58] mhartington commented on #8
Good idea, added

https://github.com/mhartington/oceanic-next-iterm/blob/master/README.md

[2015-06-09 09:37] voronianski commented on #8
@mhartington added your implementation to README :+1:

[2015-06-09 09:37] #8 closed

[2015-06-09 10:42] voronianski commented on #6
@NovaDev94 @bjankord added in `0.1.1`.

[2015-06-09 10:42] #6 closed

[2015-06-11 13:45] voronianski commented on #11
@zertosh added in `0.1.2`, tell me what you think :smile:

[2015-06-11 13:45] #11 closed

[2015-06-11 14:00] voronianski commented on #12
@joeybaker fixed in `0.1.2` :wink:

[2015-06-11 14:00] #12 closed

[2015-06-11 16:28] joeybaker commented on #12
Thanks @voronianski!!

[2015-06-23 05:25] charliecm commented on #2
@WickyNilliams I found that you can put the `Widget - Spacegray Ocean.sublime-settings` file anywhere outside of `Packages/User` and it'll work.

@jenbennings Thanks for making the mods. Now I can code sanely :wink:

[2015-06-29 15:57] WickyNilliams commented on #2
This seriously broke things when this theme recently updated. Resulted in all the custom additions going missing, causing Sublime to get very confused.

@voronianski are you still open to having these added to the repo?

[2015-06-29 16:05] voronianski commented on #2
@WickyNilliams I'm open to add it.

[2015-06-29 16:07] WickyNilliams commented on #2
Can anyone point me to relevant sublime docs for creating a custom theme (assuming they exist!)? Most parts can be added straight to the repo, and are fairly easy to integrate. But I'm still stuck as to how to get the Widgets.stTheme integrated correctly

[2015-06-29 16:09] voronianski commented on #2
/cc @emadb @jenbennings

[2015-07-13 08:37] minwe opened #17 "JetBrains IDE port of Oceanic Next"
Hi @voronianski,

I created a JetBrains IDEs port of Oceanic Next:

https://github.com/minwe/oceanic-next-jetbrains

It maybe help for  JetBrains IDEs' users if add to the ported list. Thanks.

[2015-07-14 15:51] mhartington opened #18 "Light implementation?"
Could be useful for people who like light colour-schems. Thoughts?

[2015-07-19 01:46] wbinnssmith opened #19 "base16 port created"
Hey @voronianski,

Love the color scheme! I ended up creating [a small gnu make build](https://github.com/wbinnssmith/base16-oceanic-next) that uses the base16-builder to output configurations for all of the editors supported there. It ended up making a very nice scheme for where I'm using it (vim), but there are a few drawbacks:

* We're limited to highlighting js language features to the extent

[2015-07-20 07:07] voronianski commented on #17
@minwe thanks, added to README.

[2015-07-20 07:07] #17 closed

[2015-07-20 07:21] voronianski commented on #19
@wbinnssmith thanks, regarding your input:

For now I don't feel inspiration for creating the light version however I may change my mind soon. If there will be some help I'll appreciate it.

This sounds huge :+1: btw I wonder does vim has some sort of packages to add support of ES6/ES7 features + JSX?

[2015-08-23 01:14] mhartington commented on #19
Hey just wanted to chime in on this....

I used base16 as well for a base in creating a vim port as well.
https://github.com/mhartington/oceanic-next

Slightly tweaking the colors here and there for true color and 256 color support.
For ES6 support in vim, I use

 [vim-javascript](https://github.com/pangloss/vim-javascript)

 [vim-jsx](https://github.com/mxw/vim-jsx)

And I get pretty good syntax

[2015-09-03 13:01] ericmatthys commented on #2
https://github.com/ericmatthys/spacegray-oceanic-next

I forked Spacegray to better fit Oceanic Next.

[2015-09-03 13:07] voronianski commented on #2
@ericmatthys :+1:

[2015-09-12 03:29] AllThingsSmitty opened #23 "Support for Brackets?"
Great theme! Any plans to extend support to [Adobe Brackets](http://brackets.io)?

[2015-09-12 06:29] voronianski commented on #23
@AllThingsSmitty only if somebody will make a pull request :)

[2015-09-23 08:54] tomv564 commented on #2
I forked the Afterglow theme and adjusted the blue version:

<img width="1021" alt="screen shot 2015-09-20 at 23 16 29" src="https://cloud.githubusercontent.com/assets/4395832/10041003/2e7e8d14-61e1-11e5-9c94-692d8c8f1b1b.png">

See https://github.com/tomv564/oceanic-afterglow for installation.

[2015-09-30 17:09] jakech commented on #2
@ericmatthys thanks, but i cant find it on package control. :(

[2015-09-30 17:29] ericmatthys commented on #2
@jakech I haven't added it to package control yet. You'd need to install it manually.

[2015-09-30 17:32] jakech commented on #2
@ericmatthys thats cool, thanks a lot

[2015-10-15 16:58] edheltzel commented on #2
I use [Material Theme](http://equinusocio.github.io/material-theme/) by @equinusocio
Looks pretty good with **Oceanic Next**
![ Material Theme](http://rdm.d.pr/18lhw+)

[2015-10-25 20:03] ritz078 commented on #2
**Theme** - Soda Dark
**Font** - Monaco
**Result** - Awesome :smile:

<img width="1440" alt="screen shot 2015-10-26 at 1 31 45 am" src="https://cloud.githubusercontent.com/assets/5389035/10717541/92d29ab2-7b81-11e5-9b90-c390a1894944.png">

[2015-10-30 03:17] cameronbourke opened #26 "Has the Syntax Highlighting Changed?"
Just installed this killer theme, especially when working with ES6. However, when I look at the JSX in sublime that I've got:
http://puu.sh/l2LW6/bd1fb04691.png

It doesn't match up to the JSX on the Github page for this repo, http://labs.voronianski.com/oceanic-next-color-scheme/. Screenshot also is here:
http://puu.sh/l2M8v/5d839985c7.png

[2015-11-09 20:42] #2 closed

[2015-11-09 20:54] voronianski commented on #26
@cameronbourke it was a bug in babel-sublime package. It's already fixed via - https://github.com/babel/babel-sublime/pull/206

[2015-11-09 20:54] #26 closed

[2015-11-10 01:00] ericmatthys commented on #2
@voronianski It looks like that requires Spacegray to be installed separately, which isn't mentioned in the README. Without Spacegray, the theme has no images.

[2015-11-10 08:58] WickyNilliams commented on #2
@ericmatthys oops, that's an oversight on my part. Will fix this evening

[2015-11-10 18:43] WickyNilliams commented on #2
@ericmatthys made a PR to fix this: #27

[2015-11-14 18:37] stephenhowells commented on #18
I'd do this but I've never made or edited a color scheme. I don't even know where to begin. Having said that a light version would be awesome. At some point if it's not community contributed I'll get on it.

[2015-11-15 21:12] WickyNilliams commented on #2
Can anyone confirm the new theme is working for them? Uninstalled all my themes, then installed Oceanic and it seems good to me. @ericmatthys

[2015-11-16 01:03] ericmatthys commented on #2
@WickyNilliams :+1: seems ok here

[2015-11-16 09:32] WickyNilliams commented on #2
Great! Good to know :)

[2015-11-16 19:17] equinusocio commented on #2
Material Theme will be provided with the original Oceanic Next (only bg and comments changed).

[2015-11-17 12:52] edheltzel commented on #2
Looks pretty good ... one less Sublime Package to install

[2015-11-17 19:20] equinusocio commented on #2
Yes, but you will have to activate it. Check the README file.

[2015-11-18 19:29] edheltzel commented on #2
@equinusocio Since I already used that color scheme I have it under my user settings for my package configuration so for me -- personally its on less dependency. I should note I use SublimeLinter and ColorHighlighter.

[2015-11-24 02:35] Oxyrus opened #28 "Theme on Linux doesn't work properly"
Trying with

[code]
![http://i.imgur.com/trQztlE.png](http://i.imgur.com/trQztlE.png)

Already restarted the editor, but it doesn't look good.

[2015-11-24 06:35] voronianski commented on #28
@Oxyrus could you share screenshot of what exactly looks no good?

[2015-11-24 14:59] raybooysen opened #29 "let not treated like var"
As per the screenshot, let is not treated with the same colour as var.
![image](https://cloud.githubusercontent.com/assets/461957/11370502/febdec8a-92bb-11e5-941c-c1bce234f23a.png)

[2015-11-24 18:46] voronianski commented on #29
@raybooysen that's strange, we have it fine on our machines, what is the version of [babel-sublime](https://github.com/acdlite/flummox/issues) package on your machine?

[2015-11-24 22:05] raybooysen commented on #29
v8.6.2

[2015-11-24 23:10] Oxyrus commented on #28
@voronianski the sidebar, no icons, only text, the margins on directories are somewhat buggy, or is it intended to look and work like that?

[2015-11-26 03:39] victorwpbastos opened #30 "JSON keys and values"
Would be great to have some different colors for `keys` and `values`in JSON documents.

Actually:

![image](https://cloud.githubusercontent.com/assets/1017515/11414591/4dc815b2-93de-11e5-9536-73c2b99abf74.png)

Monokai Neue [https://github.com/josh-kaplan/sublime-monokai-neue]:

![image](https://cloud.githubusercontent.com/assets/1017515/11414600/6e05cfcc-93de-11e5-9273-56ff2cc7816f.png)

[2015-11-29 10:40] voronianski commented on #29
And what version of Oceanic Next and your OS? I cannot reproduce this on Mac OS X and Windows for now.

[2015-12-01 15:17] raybooysen commented on #29
Using Windows 10
Oceanic Next = 0.1.8

On 29 November 2015 at 10:40, Dmitri Voronianski notifications@github.com
wrote:

[2015-12-02 15:56] flekschas opened #31 "Certain object properties are colored orange, most are white and some are blue"
I notice that object properties seem to be colored randomly at times. While most of the times they are white, sometimes properties are colored blue (e.g. _select_) and some are orange (e.g. _data_, _width_ or _domain_). Is this intended?

![rainbow](https://cloud.githubusercontent.com/assets/932103/11535722/1319b6e6-98e3-11e5-95f1-ec3ef84b9bd6.jpg)

I am using Sublime Text 3, OceanNext `v0.1.8` an

[2015-12-02 16:00] flekschas commented on #29
Same here on Mac OS X `v10.10`. I am also using OceanNext `v0.1.8` and Babel-sublime `v8.6.2`.

[2015-12-02 18:44] voronianski commented on #31
@flekschas never experienced such behavior.. are you sure that all is setup properly? Maybe you can share the whole file content?

[2015-12-02 22:26] flekschas commented on #31
Sorry it seemed to have been an issue with Sublime Text 3. I copy and pasted the same code that looked broken into a new file and everything was just fine. Note sure how this happened. Sorry for the hassle :)

[2015-12-02 22:26] #31 closed

[2016-01-06 18:06] ziemkowski opened #33 "Semicolons required for some syntax coloring"
With the growing movement of avoiding unnecessary and subjectively ugly semicolons in ES6+, especially when using new features, it would be nice if oceanic-next supported it better.

Current coloring without semicolons:
![screenshot](http://chat-files.tave.com/screenshot.20160106.1247.su99o.png)
with semicolons:
![screenshot](http://chat-files.tave.com/screenshot.20160106.1249.up0yk.png)

Example

[2016-01-08 16:01] ianwith commented on #29
+1

[2016-01-20 10:03] #19 closed

[2016-02-25 21:13] raulfunkie commented on #23
+1

[2016-02-29 17:11] incleaf commented on #30
:+1:

[2016-03-03 17:25] fabriciosomini opened #36 "Color scheme not displayed when have more than fifteen levels of {}"
Hello, I hope I'm posting the issue on the right repo.

When the user uses more than 15 inner {} the color synthax will stop.
Verify the image for details.
![bug](https://cloud.githubusercontent.com/assets/15656090/13463548/7f5cea74-e06b-11e5-99f8-6dcbb97958e3.jpg)

Environment: Sublime 3
Language: Javascript
Theme: Material Theme (Material Theme-Oceanic Next)
Linter: JSHint

[2016-03-07 15:49] voronianski commented on #36
@fabriciosomini it looks like an issue with babel-sublime. I've create an issue there as well - https://github.com/babel/babel-sublime/issues/249

[2016-03-11 10:00] ghost commented on #18
You can try to use [Otto Yesterday](https://github.com/oivva/otto). Colorscheme template is based on **Oceanic Next Color Scheme** but with colors of [Base16 Yesterday Light](https://github.com/chriskempson/base16-builder)

[2016-03-11 10:44] voronianski commented on #18
@oivva looks nice :+1:

btw @stephenhowells @mhartington I'm considering to start light theme implementation soon.

[2016-03-11 12:15] mhartington commented on #18
@voronianski nice! I've been messing around a bit with the vim/neovim implementation of a light theme as well.

Still needs a lot of work, at least to make the contrast better ( it would be nice to actually be able to see what I'm typing heh)

<img width="1680" alt="screen shot 2016-03-11 at 7 10 29 am" src="https://cloud.githubusercontent.com/assets/2835826/13701922/0a58fcf0-e759-11e5-92de-0ac0bc

[2016-03-11 18:05] voronianski commented on #30
@victorwpbastos @incleaf added in `0.1.11`.

[2016-03-11 18:05] #30 closed

[2016-03-30 10:52] export-mike opened #40 "somethings up with my highlighting..."
I've got:

babel sublime installed, v8.6.3
oceanic-next-color-scheme installed v0.1.11
sublime 3 latest (3103)

user settings:
[code]

and it looks like this :(
![image](https://cloud.githubusercontent.com/assets/2983327/14139907/e6b79c42-f66d-11e5-9358-44bc4823605e.png)
any ideas?

[2016-03-30 11:11] voronianski commented on #40
@export-mike that's crazy.. never encountered smth like this. Are you on Mac? Maybe you have additional packages that can conflict with babel-sublime?

[2016-03-30 11:18] export-mike commented on #40
possibly... here's my list.. is there a way to get a list of all packages and versions?
![image](https://cloud.githubusercontent.com/assets/2983327/14140546/886794a4-f671-11e5-8614-7edbb8f6bc0a.png)

[2016-03-30 11:28] voronianski commented on #40
@export-mike Package Control -> List Packages

[2016-03-30 11:28] voronianski commented on #40
Maybe Numix?

[2016-03-31 22:04] Dajust commented on #28
@voronianski Also, we have only one color scheme - Oceanic Next. How do we add all other color palette you talked about?

[2016-04-02 07:59] ikanievska commented on #40
@export-mike any updates?

[2016-04-02 09:26] export-mike commented on #40
I reinstalled everything working fine now, thanks for your help

[2016-04-02 09:26] #40 closed

[2016-04-02 10:51] voronianski commented on #28
@Oxyrus is it still actual? maybe you have another Sublime packages that break it.

[2016-04-02 10:51] voronianski commented on #28
@Dajust Sorry, didn't understand your question.

[2016-04-02 10:52] voronianski commented on #29
Do you, guys, still have this issue?

[2016-04-02 14:28] Oxyrus commented on #28
@voronianski I not longer use Sublime so I don't know :stuck_out_tongue_winking_eye:

[2016-04-02 14:29] #28 closed

[2016-04-07 23:56] ryanzec opened #41 "Suggestion: Make object properties different color form strings"
This is what a JSON object looks like by default:

<img width="179" alt="screen shot 2016-04-07 at 7 45 09 pm" src="https://cloud.githubusercontent.com/assets/444206/14370188/806d03ea-fcf9-11e5-9767-1614030c3d1a.png">

So I took a look at the .tmTheme file can changed this:

[code]

to this:

[code]

<img width="179" alt="screen shot 2016-04-07 at 7 45 25 pm" src="https://cloud.githubusercontent.c

[2016-04-08 00:01] ryanzec commented on #29
Works fine for me.

OS X: 10.11.3
Babel Sublime: 8.6.3
Ocean Next: 0.1.11

[2016-04-08 08:55] voronianski commented on #29
I'm closing it for now :)

[2016-04-08 08:55] #29 closed

[2016-04-14 12:46] jptissot commented on #33
This seems to happen with all color schemes. Probably not related to this one specifically.

[2016-04-28 15:53] olegakbarov commented on #40
Got the same issue. Interestingly enough it appears in the same place — after destructuring:

[code]

Reinstall doesn't help so far.

[2016-04-28 15:55] export-mike commented on #40
Yeah I've since switched to atom. So far its a great experience

On Thu, 28 Apr 2016 16:53 Oleg Akbarov, notifications@github.com wrote:

[2016-04-28 15:57] olegakbarov commented on #40
@export-mike you got this issue again after reinstall? 😭

[2016-04-28 16:00] export-mike commented on #40
Yeah my bad, I thought everything was OK but turns out it wasn't, sorry I never updated the issue

[2016-04-28 16:02] olegakbarov commented on #40
I'd be grateful for any ideas on this. Atom way too slow for me.

[2016-04-28 16:04] export-mike commented on #40
When was the last time you tried it? I've been using the nuclide plugins
and babel plugins with has millions of downloads. I did find it to be slow
on an old macbook pro 2009

On Thu, 28 Apr 2016 17:02 Oleg Akbarov, notifications@github.com wrote:

[2016-04-28 16:09] olegakbarov commented on #40
@export-mike  Last summer i belive, quite a while ago.

By the way seems like this is a [Babel-Sublime issue](https://github.com/babel/babel-sublime/issues/250)

[2016-04-29 07:54] olegakbarov commented on #40
@export-mike This helped me:

In sublime:
Syntax -> Open all with current extension as... -> Babel -> JavaScript (Babel)

[2016-04-29 08:08] voronianski commented on #40
@olegakbarov good point, probably this should be added to README.

[2016-04-29 20:13] olegakbarov commented on #40
@voronianski PR? 😉

[2016-05-01 13:50] timche opened #42 "Indent guides and whitespace look different than on project screenshot"
I don't know why, but they look different. Am I missing something? I have installed this color scheme like in the instructions described.

How it looks like:
![screen shot 2016-05-01 at 15 47 45](https://cloud.githubusercontent.com/assets/8075074/14942137/37eba89c-0fb4-11e6-8cd0-ef58587169a9.png)

How it should look like:
![](https://raw.githubusercontent.com/voronianski/oceanic-next-theme/master/

[2016-05-19 20:47] RegisBiron commented on #40
I'm still having syntax highlighting issues even after reinstalling ST 3, deleting all packages, reinstalling etc, clearing caches. My theme was perfect before I upgraded to stable 3114.

These issues didn't exist in the previous stable build...

## SASS
![screen shot 2016-05-19 at 3 00 45 pm](https://cloud.githubusercontent.com/assets/8062034/15406039/a94b0f24-1dd2-11e6-85bd-eebee9b5744c.png)

##

[2016-05-23 15:24] RegisBiron opened #44 "CSS Highlighting Issue"
After upgrading to Sublime Text Build 3114 some CSS/SCSS/PostCSS highlighting colors seem to have been affected. I tried uninstalling Sublime text, package control, settings etc. and then reinstalling.

I'm using the SCSS TextMate Bundle for Sublime Text. I'm also using the PostCSS Syntax highlighting.

You'll notice there are moments when some of the text is bright white, and comment blocks conta

[2016-05-23 19:22] RegisBiron commented on #44
Additionally some other highlighting seems to have been affected primarily with white. There are moments in JS and HTML syntax when a distracting bright white color is showing up.

## JS

![screen shot 2016-05-23 at 3 20 09 pm](https://cloud.githubusercontent.com/assets/8062034/15481763/295003b2-20fa-11e6-90ba-4e99b8d324d9.png)

## HTML

![screen shot 2016-05-23 at 3 19 58 pm](https://cloud.github

[2016-05-24 19:39] #44 closed

[2016-06-02 10:23] gsklee opened #45 "A definitive guide on colors"
Can we have a sort of definitive guide on which JavaScript syntactic part gets which color, written down in plain text?

I'm currently trying to port the theme to a few HTML-based editors, but their CSS generators all work differently with different naming conventions, it's really tough to know if I get things right or not with just 2 screenshots.

[2016-06-07 19:30] Defman21 opened #46 "Komodo scheme"
I've created a Komodo color scheme based on your scheme.
https://github.com/Defman21/oceanicnext-komodo

Would you mind add it to the readme? :)

[2016-06-08 13:12] voronianski commented on #46
@Defman21 please make a PR.

[2016-06-08 13:18] Defman21 commented on #46
K

[2016-06-08 13:18] #46 closed

[2016-06-09 14:18] JuHwon opened #48 "Suggestion: implement file icons"
File icons would be very nice.
Maybe with an optional settings flag to enable/disable.

[2016-06-09 14:39] voronianski commented on #48
@JuHwon sorry, not sure what you mean.

[2016-06-09 14:54] JuHwon commented on #48
@voronianski The theme `"theme": "Oceanic Next.sublime-theme"` does not provide file icons in the sidebar.
Something like that:
![File Icons](http://imgur.com/1cX2hrwl.png)

[2016-06-09 16:03] voronianski commented on #48
@JuHwon actually theme is just an add-on, I though it was fork of some popular theme. We need to ask @WickyNilliams :)

[2016-06-14 07:59] gsklee commented on #45
@voronianski Any comment?

[2016-06-14 14:59] voronianski commented on #45
@gsklee sorry, the only guide that I can provide right now is theme yaml file - https://github.com/voronianski/oceanic-next-color-scheme/blob/master/Oceanic%20Next.YAML-tmTheme

[2016-07-10 13:55] JimLin94 commented on #40
@olegakbarov Thanks man. You save my day.

[2016-08-22 02:29] fcaldera opened #50 "Font-family in screenshots"
Quick question. What font-family are you using in those screenshots? It looks really nice!

[2016-08-23 10:06] voronianski commented on #50
http://levien.com/type/myfonts/inconsolata.html

[2016-08-23 10:06] #50 closed

[2016-08-23 13:01] fedcho commented on #50
Thanks @voronianski. I love this color scheme btw!
Probably you can add the font-family used  to the documentation. Others could have the same question.

[2016-10-03 23:59] arvi commented on #2
I created a theme early this year wherein the default, origin, and classic theme are based on Oceanic Next since I'm a fan haha. Thanks for your great work. :)

https://github.com/arvi/Agila-Theme

[2016-10-19 23:40] robinbentley opened #52 "macOS terminal support"
Hi

I've put together a version for the default macOS terminal [Here](https://github.com/robinbentley/oceanic-next-macos-terminal). If it's ok could it be added it to the readme?

Thanks for the theme, I use it on everything I can!

[2016-10-22 18:51] voronianski commented on #52
@robinbentley thanks! it's awesome, pls make a PR.

[2016-10-22 20:23] #52 closed

[2016-11-10 12:37] b4stien commented on #42
I have the same problem, it wasn't the case until very recently (can't pinpoint what have changed in my setup in the last days though...).

[2016-11-15 08:51] deniaz opened #54 "Incompatible VS Code Version"
Hey there

I've tried installing `Oceanic-Next 0.0.1` in `VS Code 1.7.1` and got a `Couldn't find a compatible version of Oceanic-Next with this version of Code.` error. I'm on macOS.

Do I need to ping @mhartington for this? ;)

[2016-11-21 16:50] mhartington commented on #54
Thanks for the heads up. I'll take a look at fixing this later today

[2016-11-21 17:03] #54 closed

[2016-11-21 17:05] voronianski commented on #54
@deniaz https://github.com/mhartington/vscode-oceanicnext that's the repo for this issue :)

[2016-11-24 18:30] beojan opened #55 "Screenshot background incorrect"
The background color in the screenshots is incorrect. It should be #1b2b34, but it's really #1a2b34.

[2016-11-25 13:33] #55 closed

[2017-01-01 10:36] mediter opened #58 "Markdown syntax highlighting issue"
First of all, let me just say that Oceanic Next is very pleasant for the eye, quite elegant. I use it for everything including Markdown documents.

However, there is one small issue with list items: if I don't put one extra empty paragraph between the list items, only the first bullet symbol is highlighted.

![oceanic next markdown highlighting issue](https://cloud.githubusercontent.com/assets/573

[2017-02-21 12:09] wojciechmorawski opened #60 "Search bar / text input color."
Hey!
Your theme is sweet, but I do not like white color in a search bars - fragile eyes issue :(
Can you explain me how could I change it?

[2017-04-12 08:30] taufikherjanto opened #62 "Font"
I want to know what is this font name that you use? I love this font.

[2017-04-12 16:28] kentor commented on #62
inconsolata

[2017-04-12 16:29] kentor opened #63 "title bar color customization"
Can be customized in Build 3127.

http://www.sublimetext.com/docs/3/themes.html (search for title_bar)

Would be nice to match the background of the theme

[2017-04-12 22:03] kentor commented on #63
sorry this probably belongs to the theme not the color scheme

[2017-04-12 22:03] #63 closed

[2017-04-13 01:02] taufikherjanto commented on #62
Thanks

[2017-05-11 00:41] alexkvazos commented on #42
![screen shot 2017-05-10 at 7 40 53 pm](https://cloud.githubusercontent.com/assets/4448627/25927045/b6f7e5d0-35b8-11e7-8e04-ae0c1bb05f7e.png)
same

[2017-06-05 20:24] felixsanz opened #65 "Oceanic Next on Photon"
Hi there! I've added the wonderful Oceanic Next to [photon.sh](https://photon.sh). It's a free syntax highlighter that runs as a service. Your theme is now part of the official collection and it will be updated with regularity. Is this ok?

Here are some examples in case you want to review the correctness or just enjoy it.

- [CSS](https://photon.sh/demo?language=css&theme=oceanic-next)
- [HTML](h

[2017-06-05 20:31] felixsanz commented on #65
And by the way i'm using it personally on neovim :stuck_out_tongue_closed_eyes:, so thanks for creating it.

[2017-06-21 14:46] feruiz opened #66 "Oceanic-next-italic deprecation on Atom"
Hi, sorry if this a know issue, but i read the current issues and i did not found it there.
In Atom (at least 1.18.0 - latest version) appears that oceanic-next-italic has deprecated selectors.

I did a print screen and even i was unable to put all content in the same image and i think it is enough to show the issue.

![capture d ecran 2017-06-21 a 11 43 50](https://user-images.githubusercontent.c

[2017-07-01 19:36] leongaban opened #67 "Can't find the Oceanic .tmTheme file in SublimeText3 to edit"
https://superuser.com/questions/1224817/cannot-find-the-oceanic-next-tmtheme-to-edit

I've installed the Sublime Text 3 [Oceanic Next.tmTheme][1] and am using it:

[![enter image description here][2]][2]

However unlike all my other Sublime Text 3 themes, I can't find the .tmTheme file to edit it.

ie this file: https://github.com/voronianski/oceanic-next-color-scheme/blob/master/Oceanic%20Next.tm

[2017-07-16 16:43] justinwager commented on #67
Theme files are not very accessible in ST3, but the following package is useful to edit them.

[PackageResourceViewer](https://github.com/skuroda/PackageResourceViewer)

[2017-12-19 09:13] svipben opened #69 "VS Code Oceanic Next theme"
Hello, I ported this theme to VS Code, I guess it's time to replace `Mike Hartington` ported theme, because it's out-dated and doesn't have good workbench coloring.

VS Code extension: https://marketplace.visualstudio.com/items?itemName=svipben.oceanic-next-color-theme
GitHub repo: https://github.com/svipben/oceanic-next-color-theme

[2017-12-20 13:31] voronianski commented on #69
please create a PR

[2017-12-21 08:34] svipas commented on #69
Done https://github.com/voronianski/oceanic-next-color-scheme/pull/70

[2017-12-21 08:36] svipas commented on #62
Since you know which one font it's I guess it's time to close this issue :)

[2017-12-21 08:37] svipas commented on #33
This happens I guess only in ST. I checked and everything is alright with VS Code.

[2017-12-21 08:38] svipas commented on #36
Seems this issue was fixed so I guess it can be closed here too.

[2017-12-21 08:41] svipas commented on #67
Since this issue is resolved I guess it's time to closed it.

[2018-01-23 06:13] #69 closed

[2018-03-04 13:06] voronianski commented on #66
oceanic-next-italic has no relation to this theme, check https://github.com/Bloemert/oceanic-next-italic (maybe it's this one)

[2018-03-04 13:06] #66 closed

[2018-03-04 13:08] voronianski commented on #65
that's awesome! thank you!

[2018-03-04 13:08] #65 closed

[2018-03-04 13:09] #62 closed

[2018-03-04 13:14] #67 closed

[2018-03-04 13:15] voronianski commented on #41
PR is welcome

[2018-03-04 13:16] #45 closed

[2018-03-04 13:16] #48 closed

[2018-03-04 13:16] #23 closed

[2018-04-18 02:34] pricheal opened #71 "Font from screenshots"
What is the font that is used for the screenshots?

https://github.com/voronianski/oceanic-next-color-scheme/blob/master/screenshots/extended-class.png

[2018-04-18 20:41] richellyitalo commented on #71
Inconsolata https://www.fontsquirrel.com/fonts/inconsolata

[2018-05-17 21:58] Raikiree opened #73 "when use ctrl+f to open the search, the close search x button on the right is hidden"
I guess it's a color render issue that the close button is colored same as the background, though it is still there clickable next to "Find All" button

[2018-07-10 13:52] richellyitalo opened #74 "Font family name"
Whats the font family used on screenshots?

[2018-10-04 13:49] LoiKos opened #75 "Plan rewrite using sublime-color-scheme extension ?"
As the title suggest i would to know if you plan to rewrite a new version or adding a version including the color scheme through a .sublime-color-scheme file ?

[2018-11-13 17:07] #71 closed

[2018-11-13 17:08] voronianski commented on #74
Inconsolata

[2018-11-13 17:08] #74 closed

[2018-11-13 17:09] voronianski commented on #75
@LoiKos do not have such a plan for now, but might take a look into it a bit later.

[2018-11-13 17:12] voronianski commented on #73
@Raikiree search bar is not a part of a `color_scheme`, it's a part of ui `theme` that you use (e.g. https://github.com/kenwheeler/broceanic-theme).

[2018-11-13 17:12] #73 closed

[2018-11-13 17:12] voronianski commented on #60
@wojciechmorawski search bar is not a part of a `color_scheme`, it's a part of ui `theme` that you use (e.g. https://github.com/kenwheeler/broceanic-theme).

[2018-11-13 17:12] #60 closed

[2018-11-13 17:14] #18 closed

[2018-11-15 11:18] smhg opened #76 "Theme maintenance"
@voronianski can I help maintaining the theme which was removed in 0.2?
Maybe a better first question: why did you decide to remove it?

[2018-11-15 11:43] voronianski commented on #76
@smhg I think this repo is not a proper place for UI theme. I want to keep it just for color scheme. I have no interest in supporting UI theme as I never used it actually. Also there was quite amount of issues/bugs in it which was a mess...

I think if you're interested in maintaining it, the best solution would be to create a separate repo/package for it. We can put a link to it in README here.

[2018-11-15 11:43] #76 closed

[2018-11-20 12:37] voronianski commented on #33
This is sublime color schemes scopes issue, related to all schemes unfortunately. Nothing we can do about it here.

[2018-11-20 12:37] #33 closed

[2018-11-20 14:54] voronianski commented on #41
fixed

[2018-11-20 14:54] #41 closed

[2018-11-20 16:56] voronianski commented on #42
fixed

[2018-11-20 16:56] #42 closed

[2018-11-20 16:58] timche commented on #42
Although I'm not using ST anymore, thanks for fixing it! :pray:

[2018-11-20 17:13] voronianski commented on #58
Cannot repro it or it was fixed.

Although I advice to use [Markdown Editing Color Scheme](https://github.com/SublimeText-Markdown/MarkdownEditing) which is great specifically for markdown files.

This theme is optimized for JavaScript.

[2018-11-20 17:13] #58 closed

[2018-11-20 17:17] voronianski commented on #75
@LoiKos will close it for now, not sure if there's any profit in changing to `.sublime-color-scheme` as `.tmTheme` works fine.

[2018-11-20 17:17] #75 closed

[2019-01-22 17:19] colbin8r opened #77 "Support for naomi"
Since [babel-sublime isn't actively maintained](https://github.com/babel/babel-sublime/issues/348#issuecomment-366585406), would you consider adding support for [Naomi](https://github.com/borela/naomi)? Naomi has great support for Babel, ES6-ES2017+, JSX, Flow, Styled Components, etc., so it should be able to replace all the functionality that babel-sublime has (and more!).

[2019-04-05 13:01] Riseley opened #79 "Sublime 3.2 JSON syntax fails"
After updating to Sublime 3.2, Nested JSON syntax highlighting fails.

[2019-04-07 14:28] RiseOoi commented on #79
https://forum.sublimetext.com/t/json-color-scheme-broken/43312/4

Seems like the scope changed.

[2019-09-07 03:16] ojonesjr opened #81 "Issue on macOS 10.15 and VSCode 1.38"
Having the following issue preventing the theme to be implemented after install. An error message pops up at the bottom of VSCode says the following:

"cannot read property 'id' of undefined"

[2019-09-07 03:19] #81 closed

[2019-09-30 06:59] Turaiiao opened #82 "Question"
What is font name in image.

[2019-09-30 21:04] voronianski commented on #82
@Turaiiao https://github.com/voronianski/oceanic-next-color-scheme/issues/74#issuecomment-438352374

[2020-11-20 12:04] Scupake opened #85 "Xresources support?"
I use urxvt which is themed using Xresources, a lot of other terminals are also themed using it, and I have no idea on how to make one.
So, I would really love it if somebody makes an Xresources file for this theme.

[2020-11-28 16:56] Scupake commented on #85
Nevermind. no longer using urxvt.
Sorry for opening this issue.

[2020-11-28 16:56] #85 closed